:root {
  font-family: "Chivo Mono", monospace;
  font-size: 14px;
  line-height: 1.5rem;
  color: rgb(2, 55, 84);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 228);
}
.wrapper {
  display: grid;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}
.recipe-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border: rgb(60, 44, 32), 1px, solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
h1 {
  font-size: xx-large;
  line-height: 2.5rem;
}

.recipe-header img {
  width: 100%;
  height: auto;
}
input {
  margin-right: 6px;
  border-radius: 100%;
}
.description {
  padding: 1.5rem;
}
.information {
  grid-column: 1 / -1;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
h2 {
  text-transform: uppercase;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  margin: 8px 0;
}
ul > li {
  list-style: none;
}
